<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin portal</title>
    <link rel="stylesheet" href="./../style.css" type="text/css" />
</head>
<body>
<div align="center">

    <br>
    <h1>Welcome to Admin Dashboard!</h1>

    <br>

    <a th:href="@{'/admin/newTour'}"><h4 class="decor">Create New Tour</h4></a>

    <br>
    <br>
    <br>

    <a th:href="@{'/admin/tours'}"><h4 class="decor">View All Tours</h4></a>

</div>
</body>
</html>