<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Travel-App Login</title>
</head>
<body>

<div class="container" >

    <form method="post" action="/login" style="text-align: center;">
        <h2 th:text="${registerOK}"></h2>
        <h2>Please sign in</h2>

        <br>
        <p>
            <label for="username">Username</label> &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="username" name="username" placeholder="Username" required>
        </p>

        <p>
            <label for="password" class="sr-only">Password</label> &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password" id="password" name="password" placeholder="Password" required>
        </p>

        <button type="submit">Sign in</button>

        <p style="font-style: italic">Don't have an account? <a th:href="@{'/register'}">Sign Up</a></p>

    </form>
</div>
</body>
</html>